---
import  {Icon}  from "astro-icon/components"
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" class="logomark" caria-label="Go Home">
      <Icon name="logomark"/>
    </a>

    <ul></ul>
  </div>
</nav>
